@inherits UmbracoTemplatePage<Product>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}


		    
<div id="main-container">
	<div id="main" class="wrapper clearfix">
        
        
        
        <!-- for the section we want to show the shop header -->
@Html.Partial("~/Views/Partials/ProductHeader.cshtml", Model.Content.Parent)



        <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
            
            
            
            <div class="Grid-cell">
                <div class="product-image-container">
                    <img class="product-image" src="@Model.Content.Photos.FirstOrDefault().Url" />
                </div>
            </div>
            
            
            <div class="Grid-cell">
                <h1>@Model.Content.ProductName</h1>
                <div class="product-price">@Model.Content.Parent.GetPropertyValue("DefaultCurrency") @Model.Content.Price.ToString("F")</div>
                <div class="product-teaser">@Model.Content.Description</div>
                <div class="product-button">
                    <button class="button button--border--solid">Buy</button>
                </div>
                <div class="product-advantages">
                    @if (Model.Content.Features != null)
                    {
                        foreach (var feature in Model.Content.Features)
                        {
                       
                            <div class="product-advantage">
                                <h4>@feature.GetPropertyValue("featureName")</h4>
                                <h5>@feature.GetPropertyValue("featureDetails")</h5>
                            </div>
                       
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
